* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body, html {
    height: 100vh;
    width: 100vw;
    align-content: center;
    background: linear-gradient(to bottom, #2980b9, #6dd5fa);
    /* background: url('./images/beautiful-natural-clouds-sky.jpg') no-repeat center center fixed;
    background-size: cover; */
}

/* #background {
    
} */

.app-container {
    height: 600px;
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid;
    border-style: none;
    border-radius: 32px;
    background-color: #2b537355;
    box-shadow: rgba(72, 135, 202, 0.8) 0 0 90px 33px;
}

.search-container {
    font-family: "Arima", system-ui;
    text-align: center;
    align-content: center;
    color: white;
    line-height: 80px;
    font-weight: 200;
}

#weather-info {
    font-family: "Arima", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 40% 10% 20% 10% 10%;
    padding: 32px;
    justify-self: center;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 18px;
    background-color: #1f676742;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.location {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-self: center;
    grid-row: 2;
    grid-column: span 2;
}

.date, .temp, .img-container {
    align-self: self-end; 
    font-size: xx-large;
    justify-self: left;
}

.date {
    grid-row: 3;
    grid-column: span 2;
}

.img-container {
    grid-row: 4;
    grid-column: span 2;
}

.temp {
    grid-row: 5;
    grid-column: span 2;
    font-weight: bold;
}

.conditions {
    justify-self: left;
    grid-row: 6;
    grid-column: span 2;
}

.humidity {
    grid-row: 1 / 2;
}

.wind-gust {
    grid-row: 1;
    grid-column: 2 / 3;
}

button {
    padding: 15px 6px;
    width: 38px;
    height: 40px;
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
    background-image: url('/images/cloud.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position-y: center;
}

button:hover {
    opacity: 0.9;
    transition: 0.2s;
}

input[type=text] {
    padding: 6px 12px;
    width: 250px;
    height: 40px;
    font-size: 14px;
    color: #787878;
    border: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    outline: none !important;
    transition: 0.5s;
}

input[type=text]:focus {
    color: #787878;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transition: 0.2s;
}

.humidity, .wind-gust {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.iconLocation {
    height: 16px;
    width: 16px;
}

.iconHumidity, .iconWind {
    height: 46px;
    width: 46px;
}

.iconConditionImg > img{
    height: 80px;
    width: 80px;
}

.logo-img {
    position: absolute;
    display: block;
    background-image: url(/images/atmosphere.png);
    background-size: 400px;
    background-repeat: no-repeat;
    height: 500px;
    width: 435px;
    background-position-y: center;
    background-position-x: center;
}

#error-display {
    visibility: hidden;
}